#card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#card > div {
    border: 3.5px solid;
    border-radius: 20px;
    padding: 20px;
    background-color: aqua;
}